/* CSS for the welcome screen. */
WelcomeScreen Vertical {
    height: auto;
}

WelcomeScreen Label {
    content-align: center middle;
}

WelcomeScreen #welcome {
    padding: 5 0 1 0;
}

WelcomeScreen Container {
    padding: 5 0 0 0;
    align-horizontal: center;
    height: auto;
}

/* CSS for the screen where we draw stuff. */
DrawScreen > Input {
    dock: top;
    margin-top: 1;
}

DrawScreen #names {
    height: auto;
    overflow-y: hidden;
}

DrawScreen > #button-container {
    height: auto;
    padding-bottom: 2;
    dock: bottom;
    align-horizontal: center;
}

/* CSS for the screen with the results. */
ResultsScreen Vertical {
    align-horizontal: center;
    height: auto;
}

ResultsScreen > Vertical {
    margin: 1 1 1 1;
}

ResultsScreen > Vertical > #matches {
    padding: 0 0 1 0;
}

ResultsScreen > Vertical > Container {
    align-horizontal: center;
    height: auto;
}

DrawMatch > Horizontal {
    height: auto;
    align-horizontal: center;
    border-bottom: solid $accent;
}

#giver {
    content-align-horizontal: center;
    width: 1fr;
}

#receiver {
    content-align-horizontal: center;
    width: 1fr;
}

#emoji {
    width: 6;
    padding: 0 1 0 1;
}
